<div>
    <h1>Step 3 : Summary</h1>
    <h3>Your Tesla {{selectedCar.model?.description}}</h3>
      <div class="flex-row">
        <div class="flex-left">{{selectedCar.config?.description}}</div>
        <div class="flex-right">${{selectedCar.config?.price | number: '1.2-2'}}</div>
      </div>
      <div class="flex-row">
        <div class="flex-left">Range: {{selectedCar.config?.range}} miles - Max Speed: {{selectedCar.config?.speed}}</div>
        <div class="flex-right"></div>
      </div>
      
      <div class="flex-row">
        <div class="flex-left">{{selectedCar.color?.description}}</div>
        <div class="flex-right">${{selectedCar.color?.price | number: '1.2-2'}}</div>
      </div>
      
      <div *ngIf="selectedCar.tow" class="flex-row">
        <div class="flex-left">Tow Hitch Package</div>
        <div class="flex-right">${{1000 | number: '1.2-2'}}</div>
      </div>

      <div *ngIf="selectedCar.yoke" class="flex-row">
        <div class="flex-left">Yoke steering wheel Package</div>
        <div class="flex-right">${{1000 | number: '1.2-2'}}</div>
      </div>

      <hr>
      <div class="flex-row">
        <div class="flex-left">Total</div>
        <div class="flex-right">${{selectedCar.GetTotalCost() | number: '1.2-2'}}</div>
      </div>
      <hr>
    </div>       
