<div >
  <h1>Car Configurator</h1>
  <nav>
    <div class="flex-row">
      <div class="items"><button class="btn" id="step1" routerLink="/Step1">Step 1</button></div>
      <div class="items"><button class="btn" id="step2" routerLink="/Step2" [disabled]="isStep2Disabled">Step 2</button></div>
      <div class="items"><button class="btn" id="step3" routerLink="/Step3" [disabled]="isStep3Disabled">Step 3</button></div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="img" >
    <img class="spec-img" *ngIf="!isStep2Disabled"[src]="imgUrl"/>
</div>
</div>