.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: stretch;
}
.items{
    display:flex;
    flex:1;
    justify-content: center;
}
.img{
    text-align: center;
}
.spec-img{
    width:80%;
}