<div>
  <h2>Step1: Choose your Model and color</h2>
  <div class="conatiner">
    <div>
      <label for="modelSelect">Model:</label>
      <select
        id="modelSelect"
        [(ngModel)]="selectedModel"
        (change)="onModelChange(); setStoredData()"
      >
        <option *ngFor="let model of models" [value]="model.code">
          {{ model.description }}
        </option>
      </select>
    </div>
    <div *ngIf="selectedModel">
      <label for="colorSelect">Color:</label>
      <select
        id="colorSelect"
        [(ngModel)]="selectedColor"
        (change)="onColorChange()"
      >
        <option *ngFor="let color of colors" [value]="color.code">
          {{ color.description }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="selectedImage">
    <img [src]="selectedImage" alt="Selected Car" />
  </div>
  <button
    id="step2"
    [disabled]="!selectedModel || !selectedColor"
    (click)="proceedToStep2()"
  >
    Next
  </button>
</div>
